[flake8]
exclude =
    .git/
    .github/
    .pytest_cache/
    cicd/
    venv/
    env/
    .coverage
    .gitignore
    Dockerfile
    README.md
    requirements.txt
    sonar-project.properties
    .tox/
filename = *.py
max-line-length = 100
max-complexity = 10
